{
	"jira_base_url": "https://my.awesome.company.com/jira",
	"worklog_url": "/rest/api/2/issue",
	"search_url": "/rest/api/2/search",
	"user_name": "homer.simpson",
	"lunch_project": "",
	"holidays": ["01-01", "2016-03-14", "03-15", "2016-03-28", "05-01", "2016-05-16", "08-20", "10-23", "2016-10-31", "11-01", "12-24", "12-25", "12-26", "2017-04-16", "2017-06-05"],
	"workdays": ["2016-03-05", "2016-10-15"]
}
